{% extends 'base.html' %}
{% block content %}
<main>
    <h1>Transactions</h1>
    <div class="transactions-container">
        {% for transaction in transactions %}
        <div class="transaction">
            <h2>{{ transaction.name }}</h2>
            <h3>{{ transaction.price }}</h3>
            <h4>{{transaction.merchant.name}}</h4>
            <h4>{{transaction.tag.name}}</h4>
            <p>{{ transaction.timestamp}}</p>
        </div>

        {% endfor %}
    </div>
</main>

{% endblock content %}